{% macro attribute_bool_or_string(attr, value) -%}
    {%- if value == true -%}
        {{ attr }}=True,
    {%- elif value == false -%}
        {{ attr }}=False,
    {%- elif value == none -%}
        {{ attr }}=None,
    {%- elif value == "" -%}
        {{ attr }}="{{ value }}",
    {%- endif -%}
{%- endmacro %}

{% macro attribute_value_coerced_string(attr, value, nullable=false) -%}
    {%- if value and value != "None" -%}
        {{ attr }}="{{ value }}",
    {%- elif nullable == true and value == none -%}
        {{ attr }}=None,
    {%- else -%}
        {{ attr }}="",
    {%- endif -%}
{%- endmacro %}

{% macro attribute_value_coerced_number(attr, value, nullable=false) -%}
    {%- if value -%}
        {{ attr }}={{ value }},
    {%- elif nullable == true and value == none -%}
        {{ attr }}=None,
    {%- else -%}
        {{ attr }}=0,
    {%- endif -%}
{%- endmacro %}

{% macro test_value(field) -%}
    {%- if field.kind == 'DateField' -%}
        timezone.now().date()
    {%- elif field.kind == 'TimeField' -%}
        timezone.now().time()
    {%- elif field.kind == 'DateTimeField' -%}
        timezone.now()
    {%- elif field.kind == 'BooleanField' -%}
        True
    {%- elif field.kind == 'ChoiceField' -%}
        get_{{ field.name }}_default()
    {%- elif field.kind in ['FileField', 'ImageField'] -%}
        ""
    {%- elif field.kind in ['CharField', 'TextField'] -%}
        "Foo"
    {%- elif field.kind == 'EmailField' -%}
        "bar@foo.com"
    {%- elif field.kind == 'SlugField' -%}
        "foo"
    {%- elif field.kind == 'ForeignKey' -%}
        None
    {%- elif field.kind == 'ManyToManyField' -%}
        None
    {%- elif field.kind in ['IntegerField', 'PositiveIntegerField'] -%}
        42
    {%- else -%}
        ""
    {%- endif -%}
{%- endmacro %}

{% macro display_value(modelname, fieldname, kind) %}{% set fieldattrname = modelname + "_object." + fieldname %}{{ '{%' }} if {{ fieldattrname }} {{ '%}' }}{% if kind == "ManyToManyField" %}
                    <ul>
                        {{ '{%' }} for item in {{ fieldattrname }}.all {{ '%}' }}
                            <li>
                                <a href="{{ '{{' }} item.get_absolute_url {{ '}}' }}">{{ '{{' }} item {{ '}}' }}</a>
                            </li>
                        {{ '{%' }} endfor {{ '%}' }}
                    </ul>{% elif kind == "ForeignKey" %}
                    <a href="{{ '{{' }} {{ fieldattrname }}.get_absolute_url {{ '}}' }}">{{ '{{' }} {{ fieldattrname }} {{ '}}' }}</a>{% else %}
                    {{ '{{' }} {{ fieldattrname }} {{ '}}' }}{% endif %}
                {{ '{%' }} else {{ '%}' }}
                    <em>{{ '{%' }} translate "Empty" {{ '%}' }}</em>
                {{ '{%' }} endif {{ '%}' }}{% endmacro %}

