{% macro attribute_bool_or_string(attr, value) -%}
    {%- if value == true -%}
        {{ attr }}=True,
    {%- elif value == false -%}
        {{ attr }}=False,
    {%- elif value == none -%}
        {{ attr }}=None,
    {%- elif value == "" -%}
        {{ attr }}="{{ value }}",
    {%- endif -%}
{%- endmacro %}

{% macro attribute_value_coerced_string(attr, value, nullable=false) -%}
    {%- if value -%}
        {{ attr }}="{{ value }}",
    {%- elif nullable == true and value == none -%}
        {{ attr }}=None,
    {%- else -%}
        {{ attr }}="",
    {%- endif -%}
{%- endmacro %}

{% macro attribute_value_coerced_number(attr, value, nullable=false) -%}
    {%- if value -%}
        {{ attr }}={{ value }},
    {%- elif nullable == true and value == none -%}
        {{ attr }}=None,
    {%- else -%}
        {{ attr }}=0,
    {%- endif -%}
{%- endmacro %}
