{{ '{%' }} extends "{{ model_inventory.app.code }}/base.html" {{ '%}' }}
{{ '{%' }} load i18n {{ '%}' }}

{{ '{%' }} block head_title {{ '%}' }}{{ '{%' }} translate "{{ model_inventory.verbose_plural }}" {{ '%}' }} - {{ '{{' }} block.super {{ '}}' }}{{ '{%' }} endblock head_title {{ '%}' }}

{% raw %}{% block content %}{% spaceless %}{% endraw %}
<div class="{{ model_inventory.module_name }}-index">
    <h1>{{ '{%' }} translate "{{ model_inventory.verbose_plural }}" {{ '%}' }}</h1>

    <div class="{{ model_inventory.module_name }}-list list-group">
        {{ '{%' }} for item in object_list {{ '%}' }}
            <a href="{{ '{{' }} item.get_absolute_url {{ '}}' }}" class="list-group-item list-group-item-action">{{ '{{' }} item {{ '}}' }}</a>
        {{ '{%' }} empty {{ '%}' }}
            <a href="" class="empty disabled list-group-item list-group-item-action">{{ '{%' }} translate "No {{ model_inventory.module_name }}s yet." {{ '%}' }}</li>
        {{ '{%' }} endfor {{ '%}' }}
    </div>

    {{ '{%' }} include "{{ model_inventory.app.code }}/pagination.html" {{ '%}' }}
</div>
{% raw %}{% endspaceless %}{% endblock content %}{% endraw %}
