{% import '_utils.jinja' as utils %}{{ '{%' }} extends "{{ model_inventory.app.code }}/base.html" {{ '%}' }}
{{ '{%' }} load i18n {{ '%}' }}

{{ '{%' }} block head_title {{ '%}' }}{{ '{{' }} {{ model_inventory.module_name }}_object {{ '}}' }} - {{ '{{' }} block.super {{ '}}' }}{{ '{%' }} endblock head_title {{ '%}' }}

{% raw %}{% block content %}{% spaceless %}{% endraw %}
<div class="{{ model_inventory.module_name }}-detail">
    <p>
        <a href="{{ '{%' }} url "{{ model_inventory.app.code }}:{{ model_inventory.module_name }}-index" {{ '%}' }}"><small>&lt;&nbsp;{{ '{%' }} translate "{{ model_inventory.verbose_plural }}" {{ '%}' }}</small></a>
    </p>

    <h1>{{ '{{' }} {{ model_inventory.module_name }}_object {{ '}}' }}</h1>

    <table class="table table-striped">
{% for field in model_inventory.modelfields %}        <tr class="{{ model_inventory.module_name }}-row">
            <th class="col-lg-4">{{ '{%' }} translate "{{ field.label }}" {{ '%}' }}<br><small class="fw-normal">{{ field.kind }}</small></th>
            <td class="col-lg-8">
                {{ utils.display_value(model_inventory.module_name, field.name, field.kind) }}
            </td>
        </tr>
{% endfor %}    </table>

</div>
{% raw %}{% endspaceless %}{% endblock content %}{% endraw %}
