{|---|---|---|---|---|---|---|---|---|
1   2   3   4   5   6   7   8   9   10
|---|---|---|---|---|---|---|---|---|
{% if not asleep %}
  Basic
{% endif %}
<pika>
|---|---|---|---|---|---|---|---|---|
1   2   3   4   5   6   7   8   9   10
|---|---|---|---|---|---|---|---|---|
{%+ if not asleep %}
  lstrip_blocks disabled
{% endif %}
<pika>
|---|---|---|---|---|---|---|---|---|
1   2   3   4   5   6   7   8   9   10
|---|---|---|---|---|---|---|---|---|
{% if not asleep +%}
  trim_blocks disabled
{% endif %}
<pika>
|---|---|---|---|---|---|---|---|---|
1   2   3   4   5   6   7   8   9   10
|---|---|---|---|---|---|---|---|---|
{%+ if not asleep +%}
  both disabled
{% endif %}
<pika>
|---|---|---|---|---|---|---|---|---|
1   2   3   4   5   6   7   8   9   10
|---|---|---|---|---|---|---|---|---|
{%- if not asleep %}
  whitespace start block starts
{% endif %}
<pika>
|---|---|---|---|---|---|---|---|---|
1   2   3   4   5   6   7   8   9   10
|---|---|---|---|---|---|---|---|---|
{% if not asleep -%}
  whitespace start block ends
{% endif %}
<pika>
|---|---|---|---|---|---|---|---|---|
1   2   3   4   5   6   7   8   9   10
|---|---|---|---|---|---|---|---|---|
{% if not asleep %}
  whitespace end block starts
{%- endif %}
<pika>
|---|---|---|---|---|---|---|---|---|
1   2   3   4   5   6   7   8   9   10
|---|---|---|---|---|---|---|---|---|
{% if not asleep %}
  whitespace end block ends
{% endif -%}
<pika>
|---|---|---|---|---|---|---|---|---|
1   2   3   4   5   6   7   8   9   10
|---|---|---|---|---|---|---|---|---|
{% if not asleep -%}
  whitespace in
{%- endif %}
<pika>
|---|---|---|---|---|---|---|---|---|
1   2   3   4   5   6   7   8   9   10
|---|---|---|---|---|---|---|---|---|
{%- if not asleep %}
  whitespace out
{% endif -%}
<pika>
|---|---|---|---|---|---|---|---|---|
1   2   3   4   5   6   7   8   9   10
|---|---|---|---|---|---|---|---|---|
{%- if not asleep -%}
  whitespace all
{%- endif -%}
<pika>
|---|---|---|---|---|---|---|---|---|
1   2   3   4   5   6   7   8   9   10
|---|---|---|---|---|---|---|---|---|
